.contenedor {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px; 
    width: 300px; 
    height: 400px; 
    border: 1px solid #000;
}
.grid {
    background-color: #333333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}