.contenedor {
    max-width: 375px;
    display: flex;
    align-items: center;
}

.compu {
    max-width: 375px;
    padding: 20px 135px;
    border: 2px solid black;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-align: center;
}